@using Bislerium.Components.Data
@using Bislerium.Data
@inject NavigationManager NavManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Bislerium</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        @if(role.ToString() == "Admin")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="user">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add User
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="coffee">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Coffee
                </NavLink>
            </div>
        }

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="member">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Member
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="change-password">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Change Password
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transaction">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Transactions
            </NavLink>
        </div>

        

        <div style="margin-left: 20px">
            <button class="nav-link px-3" onclick="@logoutFunction">Logout</button>
        </div>


    </nav>

</div>

@code{
    [Parameter]
    public EventCallback logoutFunction { get; set; }

    [Parameter]
    public Role role { get; set; }


}
